<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product successfully installed</h1>
    <br><br><br>
    <a href="/products"><button>go to products listing</button></a>
    <br><br><br>
    <a href="/"><button>go for uploading products</button></a>
</body>
</html>